@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Net-SF-Pro-Rounded-Semibold";
  src: url(../public/fonts/FontsFree-Net-SF-Pro-Rounded-Semibold.ttf);
  src: url(../public/fonts/FontsFree-Net-SF-Pro-Rounded-Semibold.woff2);
}
@font-face {
  font-family: "SFPRODISPLAYMEDIUM";
  src: url(../public/fonts/SFPRODISPLAYMEDIUM.ttf);
  src: url(../public/fonts/SFPRODISPLAYMEDIUM.woff2);
}
@font-face {
  font-family: "SFPRODISPLAYREGULAR";
  src: url(../public/fonts/SFPRODISPLAYREGULAR.ttf);
  src: url(../public/fonts/SFPRODISPLAYREGULAR.woff2);
}
body {
  overflow: hidden;
}
:root {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
.dep_list li {
  width: 90%;
  border-radius: 13px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  box-shadow: 8px 4px 25px rgba(0, 0, 0, 0.25);
  gap: 12px;
  cursor: pointer;

  transition: 0.2s;
}
.dep_list li:active {
  transform: scale(0.96);
}

@keyframes showTrns {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes showTrnsBack {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showOp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes showProducts {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
